.widget-container {
    height: 100%;
    width: 100%;
}

.content {
  font-size: 35px;
  color: #454545;
  font-weight: bold;
  height: 100%;
  text-align: center;
  width: 100%;
}

.user {
  padding: 0 5px 10px 10px;
  display: inline-block;
  margin-right: 5px;
}

.user img { 
  border-radius: 50%;
}

.user .number {
  color: #fff;
  margin-left: 5px;
}
