.white-tick-treatment
  fill #fff

.x_axis
  position absolute
  text
    font-size 0.9em
    fill $gray
  .domain
    display none // remove bottom border

.graph
  padding-bottom 2em

.rickshaw_legend
  position absolute
  bottom 0em
  left 0.9em
  color $gray-ligther
  font-size 1.2em
  background transparent

  li
    display inline-block
    vertical-align top

.rickshaw_graph

  .detail
    background-color white

    .x_label
      color black
      font-size 1.4em

  .y_ticks text
    font-size 2em

  .x_ticks_d3 text
    font-size 1.4em